html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    position: relative;
    min-height: 100%;
    
    
    
}
	body{
        font-family: 'Montserrat', sans-serif;font-size: 12px; font-weight: 500; line-height: 24px;
        min-height: 100%;
        
    }
	li{
        list-style: none;
    }
	.txt-md {
        font-size: 14px
    }
	.txt-l {
        font-size: 16px
    }
	.txt-xl {
        font-size: 18px
    }
	.txt-xxl {
        font-size: 20px
    }
    

    
	#top {
        background-color:gray; color: #fff; padding: px 10px; 
    }

    #top .container{
        float: right;
    }
	#top p {
        margin: 10px 0
    }

     .search-box {
        
        padding: 10px;
        position: absolute;
        border-radius: 40px;
      } 


      .search-box:hover > form .search-txt {
        width: 200px;
      }

      .search-box:hover > form .search-btn {
        background: #464E54;
      }

      .search-btn {
        color: #EDEDED;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #3788c2;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search-txt {
        float: left;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        color: black;
        font-size: 15px;
        line-height: 40px;
        width: 0; 
        transition: 0.5s; 
      }
    
	.social a {
        color: #fff; 
        font-size: 30px;
        padding: 0 8px; 
        
        
    }
    .social a i{
        float: rightssss;
    }
	.social li:first-child a {
        padding-left: 0
    }
	#top .contact {
        float: left;
    }

	.navbar-brand img {
     max-width: 100%;
     height: auto;
    }
    .navbar-collapse {
   margin: auto 0;
    }
    
.navbar-nav{
    display: inline-block;
    padding-top: 15px;
    
    

}

.navbar-nav li{
    display: inline;
    
    font-size: 40px;
    margin-left: 60px;
    
}


	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
        background-color: transparent; border: none;
    }
	.navbar-toggle .icon-bar {
        width: 29px; 
    }
	.navbar-default .navbar-toggle .icon-bar {
        background-color: black
    }
	.navbar-toggle .icon-bar+.icon-bar { 
        margin-top: 5px; 
    }
	.navbar-brand {
        margin-right: 30px; margin-top: 10px;height: 28px;
}
	
	@media (max-width:767px) {
		#top .pull-left, #top .pull-right {width: 100%}
		#top .pull-right p { display: table; margin: 7px auto; }
		

        @media (max-width:767px){
            #footer h5 {
            padding-left: 0;
            border-left: transparent;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
	}
}







/* Footer */

footer {
    padding: 20px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
     
    
    
}

footer a {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
   
}
footer {
    background: gray; 
    font-size: 20px;
    padding: 20px 0px;
    
    
    
    
}

footer .system h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold; 
}
footer .system li{
    
    padding: 3px;
    color: white;
    display: inline-block;
    
}


#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.intro{
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
    
    
}




.address span, 
.menu span {
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding: 10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a, 
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
}

.address li, 
.menu li {
    margin: 20px 0px;
    list-style: none;
}

.address li a:hover, 
.menu li a:hover {
    color: #da3e44;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.address .fa {
    color: #da3e44;
    margin-right: 10px;
    font-size: 18px;
}


footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
    
}
footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
    
}

footer ul.social li a,
footer  li p{
	color:#ffffff;
   
    
}
footer ul.social li a:hover{
	color:#eeeeee;
}




